/* Reset */
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Variables */
:root {
  --main-color: #00BFFF;
  --main-text-color: #FFF;
  --border-color: #999;
  --text-color: #1E2A3A;
  --bio-border-color: #293544;
  --about-bg-color: #111821;
}

/* General */
.highlight {
  color: var(--main-color);
}

/* Main layout configuration */
body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  color: var(--main-text-color);
}

/* Sidebar (bio and menu) styles */
#sidebar {
  width: 250px;
  background-color: var(--text-color);
  color: var(--main-text-color);
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

/* Profile image styling */
#bio-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.content-section {
  position: relative;
}

/* Social icons */
.social-icons {
  margin-top: 40px;
  text-align: center;
}

.social-icons ul {
  list-style: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-icons ul li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons ul li a {
  text-decoration: none;
  color: #0077b5;
  font-size: 20px;
}

.social-icons ul li a:hover {
  color: #F8485E;
}

/* Sidebar menu styles */
.side-menu-large {
  margin-top: 20px;
  text-align: left;
}

.side-menu-large ul {
  list-style: none;
  padding: 0;
}

.side-menu-large ul li {
  margin-bottom: 20px;
}

.side-menu-large ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.side-menu-large ul li a i {
  margin-right: 10px;
  font-size: 24px;
}

/* Menu item hover and active state */
.side-menu-large ul li a:hover {
  background-color: #2E3A4A;
  border-radius: 5px;
}

.side-menu-large ul li.active a {
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

/* Main content area */
#main-content {
  margin-left: 270px;
  padding: 40px;
  flex: 1;
}

.description {
  max-width: 75%;
  margin-bottom: 10px;
  color: #111821;
}

/* Section title styling */
.section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #F8485E;
}

/* Headings and subheadings */
h1 {
  color: #F8485E;
  font-size: 42px;
}

h2 {
  color: #F8485E;
  font-size: 32px;
  margin-bottom: 20px;
}

.short-descr {
  color: var(--main-color);
  font-size: 24px;
  margin-bottom: 20px;
}

/* Download buttons styling */
.professional-content {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

#button {
  padding: 12px 24px;
  background-color: #1f2937;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#button i {
  font-size: 18px;
}

#button:hover {
  background-color: #F8485E;
}

/* Styling for the star ratings legend */
.stars-legend {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.stars-legend h3 {
  font-size: 15px;
  color: var(--main-color);
  text-align: center;
}

.stars-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stars-legend ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Skills section */
.skills-container {
  display: inline-block;
}

.skills-box {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.skills {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill {
  margin-bottom: 10px;
  min-height: 70px;
}

.skill span {
  display: block;
  font-size: 15px;
  color: black;
}

.stars {
  color: #FFD700; /* Gold color for stars */
}

.stars .fa-star,
.stars .fa-star-half-alt, .fa-star-half-stroke,
.stars .far {
  font-size: 12px;
}

/* Hover effect on stars */
.stars:hover .fa-star,
.stars:hover .fa-star-half-alt,
.stars:hover .fa-star-half-stroke {
  color: #F8485E;
}

.experience {
  font-size: 12px;
  color: #777;
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* Timeline items */
.timeline-item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* Ano posicionado à esquerda do ponto */
.timeline-year {
  flex-basis: 100px;
  text-align: right;
  padding-right: 10px; /* Ajusta o espaçamento à direita do ano */
}

.timeline-year p {
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
  background-color: transparent; /* Remove fundo preto */
}

/* Linha conectando os itens da linha do tempo */
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 120px; /* Ajusta a linha para ficar ao lado do ano e ponto */
  width: 2px;
  background-color: #ccc;
}

/* Ponto da linha do tempo */
.timeline-item:before {
  content: "";
  position: absolute;
  left: 110px; /* Ajusta o ponto para ficar alinhado com a linha */
  top: 50%; /* Centraliza o ponto verticalmente no item da timeline */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #F8485E;
  border-radius: 50%;
}

/* Posicionamento do conteúdo */
.timeline-content {
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-left: 150px; /* Move o conteúdo para a direita para não sobrepor o ponto */
}

.timeline-content h3 {
  color: #00BFFF;
  margin-bottom: 5px;
}

.timeline-content h4 {
  color: #000;
  font-weight: normal;
  margin-bottom: 10px;
}

.timeline-content p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

.timeline-content ul {
  padding-left: 20px;
}

.timeline-content ul li {
  list-style-type: disc;
  color: #000;
}

/* Education section */
.education-list {
  list-style: none;
  padding: 0;
}

.education-list li {
  margin-bottom: 20px;
}

.degree {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}

.institution {
  font-size: 18px;
  color: var(--text-color);
}

.menu-small {
  position: relative; /* Para posicionar o side-menu em relação a este elemento */
  display: none; /* Esconde o menu pequeno por padrão */
}

.menu-btn {
  position: fixed; /* Para posicionar o botão no canto superior direito */
  top: 0; /* Ajuste conforme necessário */
  background-color: #007BFF; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Sem borda */
  padding: 6px; /* Padding do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 20px; /* Tamanho da fonte do botão */
  z-index: 1001;
}

.side-menu-small {
  display: none; /* Esconde o menu lateral por padrão */
  position: fixed; /* Para que ele abra abaixo do botão */
  margin-left: 30px;
  background-color: #fff; /* Cor de fundo do menu */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para o menu */
  width: 200px; /* Largura do menu */
  z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

.side-menu-small.active {
  display: block; /* Mostra o menu quando ativo */
}

.side-menu-small ul {
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.side-menu-small ul li {
  padding: 10px 15px; /* Padding dos itens do menu */
}

.side-menu-small ul li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #333; /* Cor do texto dos links */
}

/* Efeitos de hover nos itens do menu */
.side-menu-small ul li:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
}

/* Mobile responsiveness */
@media(max-width: 932px) {
  #sidebar {
    display: none;
    width: 0;
    padding: 0;
  }

  #main-content {
    margin-left: 0;
  }

  #content {
    padding: 30px;
  }

  .side-menu-large {
    display: none; /* Hide large menu */
  }

  .menu-small {
    display: block; /* Mostra o menu pequeno em telas menores */
  }
}
